body {
  display: flex;
  height: 100vh;
  width: 25vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-areas: 
    "text text text text"
    "pow div mul sub"
    "seven eight nine add"
    "four five six add"
    "one two three equals"
    "zero zero point equals";
}